.AboutWorkWrappar {
    margin: 228px 0 120px 0;
    .AboutHEAD {
        font-size: 35px;
        font-weight: 900;
        line-height: 1;
        color: #00aeef;
        font-family: "Quicksand";
        text-align: center;
        margin-bottom: 20px;
    }
    .AboutPRAG {
        font-family: "Quicksand", Sans-serif;
        font-size: 16px;
        color: #5c5c5c;
        line-height: 165%;
        font-weight: normal;
        color: #5c5c5c;
        margin-bottom: 20px;
        text-align: center;
    }
    .AbourGrid {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        margin: 40px 20px 0 20px;
        .AboutInner {
            padding: 10px;
            text-align: center;
            .AboutIMgs {
                margin-bottom: 20px;
                .leases {
                    width: 144px;
                    height: 150px;
                }
                .Letters {
                    width: 118px;
                    height: 150px;
                }
                .works {
                    width: 150px;
                    height: 147px;
                }
                .Accountability {
                    width: 109px;
                    height: 150px;
                }
            }
            .AboutTitles {
                font-weight: 900;
                color: #515151;
                font-family: "Quicksand";
                line-height: 1.1;
                font-size: 30px;
            }
        }
    }
}