@media (max-width: 768px) {
    .WHYWrap {
        padding-top: 200px;
        .WHYBanner {
            text-align: center;
        }
    }

 }
 @media (max-width: 1960px) {
    .DemoWrapper{
        .MobileTab {
            .WWimgss {
                right: -27px;
                top: 75px;
            }
            .wwwim {
                right: 139px;
                top: 447px;
            }
            .mobilIMG {
                right: -120px;
                top: 379px;
            }
        }
    }
  
}
@media (max-width: 1400px) {
    .DemoWrapper {
        .MobileTab {
            .WWimgss {
                right: -153px;
                top: 47px;
            }
            .wwwim {
                right: 13px;
                top: 430px;
            }
            .mobilIMG {
                right: -250px;
                top: 362px;
            }
        }
    }
}

@media (max-width: 768px) {
    .DemoWrapper {
        .MobileTab {
            display: none;
        } 
        .demoSVG {
            .DemoSVG {
                display: none;
            }
        }
        .GridSoftwer  {
            grid-template-columns: 100%; 
            margin-bottom: 0; 
            padding: 40px 0px;
            .SoftwerInner {
                .SoftwerTitle {
                    .SoftwerHead {
                        font-size: 30px;
                    }
                    .SoftPra {
                        font-size: 14px;
                    }
                    .FREETRIALbtn {
                        a {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .discoverGrid {
            grid-template-columns: 100%; 
            margin-top: 0;
            margin-bottom: 40px;
            .SoftwerTitle {
                .SoftwerHead {
                    font-size: 30px;
                }
                .SoftPra {
                    font-size: 14px;
                }
            }
            .discoverImg {
                .DiscIMG {
                    margin-bottom: 15px;
                }
                &.MT {
                    margin-top: 15px;
                }
            }
        } 
    }
  
    
    .AboutWorkWrappar {
        margin: 28px 0 120px 0;
        .AboutHEAD {
            font-size: 30px;
        }
        .AbourGrid {
            grid-template-columns: 100%;
            .AboutInner {
                margin-bottom: 30px;
            }
        }
    }
    
    .WHYWrap {
        padding-top: 200px;
        .WHYBanner {
            text-align: left;
        }
    }
    
}
@media (max-width: 768px) {
    .WHYWrap {
        padding-top: 200px;
        .WHYBanner {
            text-align: center;
        }
    }
}