@media (max-width: 768px) {
    .FeaturesWrap .FeaturesBannerRight .FeaturesIMGWrap {
        position: absolute;
        right: inherit;
        width: initial; 
        top: initial;
    }
  
}
@media (max-width: 425px) {
    .FeaturesWrap {
        padding: 166px 0 290px 0;
        text-align: center;
    }
    .FeaturesWrap .FeaturesBanner {
        margin-bottom: 80px;
    }
    .FeaturesWrap .FeaturesBanner .Featureshead {
        font-size: 35px;
    }
    .FeaturesWrap .FeaturesBanner .FeaturesPrag {
        font-size: 16px;
        line-height: 1.3;
    }
    .FeaturesWrap .FeaturesBannerRight  {
        text-align: center;
    }
    .PropertyWrapper .PropertyGrid {
        grid-template-columns: 100%;
    }
    .PropertyWrapper .PropertyHeadTitle .PropertyHead {
        font-size: 30px;
    }
    .PropertyWrapper .PropertyGrid .PropertyTitle .PropertyHead {
        font-size: 20px;

    }
    .PropertyWrapper .PropertyGrid .PropertyTitle .PropertyPra {
        font-size: 16px; 
    }
    .PropertyWrapper .PropertyHeadTitle .PropertyHeadbtm {
        font-size: 20px; 
    }
    .SoftwareManagement .SoftwareManagementMiin .SoftwareManagementContint .SoftwareManagementHead {
        font-size: 20px;
    }
    
}
