.CardANDslidWrap {
  background-color: #f2f2f2; }
  .CardANDslidWrap .CtmCol {
    padding: 8px; }
    .CardANDslidWrap .CtmCol .CardMain {
      padding: 30px 10px 20px 10px;
      background-color: #ffffff;
      border-radius: 8px 8px 8px 8px;
      -webkit-box-shadow: 0px 0px 30px 5px #0000001c;
      box-shadow: 0px 0px 30px 5px #0000001c;
      text-align: center;
      cursor: pointer;
      min-height: 291px;
      margin-top: -155px; }
      .CardANDslidWrap .CtmCol .CardMain .CardTitle {
        margin-top: 25px; }
        .CardANDslidWrap .CtmCol .CardMain .CardTitle .Title_link .CardPra {
          color: #32327b;
          font-size: 25px;
          font-weight: 500;
          font-family: "Quicksand", "sans-serif";
          line-height: 1.1;
          width: 100%;
          margin: 0 auto;
          text-transform: capitalize; }
  .CardANDslidWrap .SliderMain {
    margin-top: 48px; }
    .CardANDslidWrap .SliderMain .SliderTitle {
      color: #00aeef;
      font-size: 36px;
      font-weight: 600;
      line-height: 1.1em;
      font-family: "Quicksand";
      text-align: center;
      max-width: 1000px;
      text-align: center;
      width: 100%;
      margin: 0 auto; }
  .CardANDslidWrap .testmonials_slied {
    padding: 33px 0 82px; }
    .CardANDslidWrap .testmonials_slied .main_slieda_ttstmonials {
      text-align: center; }
      .CardANDslidWrap .testmonials_slied .main_slieda_ttstmonials .test_slid_items {
        outline: none;
        padding: 0px;
        cursor: -webkit-grab;
        cursor: grab; }
        .CardANDslidWrap .testmonials_slied .main_slieda_ttstmonials .test_slid_items:active {
          cursor: -webkit-grabbing;
          cursor: grabbing; }
        .CardANDslidWrap .testmonials_slied .main_slieda_ttstmonials .test_slid_items .slid_pra2 {
          color: #32327b;
          font-weight: 500;
          font-size: 1.3em;
          line-height: 1.5;
          text-align: center;
          margin-bottom: 25px; }
        .CardANDslidWrap .testmonials_slied .main_slieda_ttstmonials .test_slid_items .test_item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          text-align: left; }
          .CardANDslidWrap .testmonials_slied .main_slieda_ttstmonials .test_slid_items .test_item .sliderImg {
            border-radius: 100%;
            overflow: hidden;
            width: 50px;
            height: 50px; }
            .CardANDslidWrap .testmonials_slied .main_slieda_ttstmonials .test_slid_items .test_item .sliderImg img {
              width: 100%;
              height: auto; }
          .CardANDslidWrap .testmonials_slied .main_slieda_ttstmonials .test_slid_items .test_item .sliderTitle {
            margin-left: 20px; }
            .CardANDslidWrap .testmonials_slied .main_slieda_ttstmonials .test_slid_items .test_item .sliderTitle .slid_hed {
              color: #32327b;
              font-family: "Quicksand", "sans-serif";
              font-size: 15px;
              font-weight: 600;
              line-height: 1.4;
              margin-bottom: 0; }
            .CardANDslidWrap .testmonials_slied .main_slieda_ttstmonials .test_slid_items .test_item .sliderTitle .slid_pra {
              color: #32327b;
              font-family: "Quicksand";
              font-size: 14px;
              font-weight: 400;
              margin-bottom: 0; }
    .CardANDslidWrap .testmonials_slied .slick-arrow {
      z-index: 3;
      width: 40px;
      height: 40px;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      opacity: 0;
      visibility: hidden; }
      .CardANDslidWrap .testmonials_slied .slick-arrow::before {
        font-family: 'FontAwesome';
        padding: 10px;
        font-size: 20px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        color: #32327b; }
      .CardANDslidWrap .testmonials_slied .slick-arrow.slick-prev {
        left: -70px; }
      .CardANDslidWrap .testmonials_slied .slick-arrow.slick-next {
        right: -70px; }
    .CardANDslidWrap .testmonials_slied:hover .slick-arrow {
      opacity: 1;
      visibility: visible; }
      .CardANDslidWrap .testmonials_slied:hover .slick-arrow.slick-prev {
        left: -50px; }
      .CardANDslidWrap .testmonials_slied:hover .slick-arrow.slick-next {
        right: -50px; }

.slick-dots li {
  margin: 0; }
  .slick-dots li button:before {
    width: 7px;
    height: 7px;
    background: #323232;
    background: #000;
    border-radius: 100%; }

ul.slick-dots {
  margin-bottom: -60px !important; }
