.ServiceWrap {
  padding: 62px 0;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00aeef), to(#3fc5ff));
  background-image: -webkit-linear-gradient(top, #00aeef 0%, #3fc5ff 100%);
  background-image: -o-linear-gradient(top, #00aeef 0%, #3fc5ff 100%);
  background-image: linear-gradient(180deg, #00aeef 0%, #3fc5ff 100%); }
  .ServiceWrap .SERVICEHead {
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    font-family: "Quicksand", "sans-serif";
    margin-bottom: 46px; }
  .ServiceWrap .SarviceCTM {
    padding: 0 5px; }
    .ServiceWrap .SarviceCTM .serviceContaine {
      padding: 77px 25px 25px 25px;
      background-color: rgba(0, 0, 122, 0.43);
      border-radius: 8px;
      cursor: pointer; }
      .ServiceWrap .SarviceCTM .serviceContaine .sarviceImg {
        text-align: center;
        margin-bottom: 21px; }
        .ServiceWrap .SarviceCTM .serviceContaine .sarviceImg .sarviceIMG {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          font-size: 50px;
          color: #fff; }
      .ServiceWrap .SarviceCTM .serviceContaine .containt_hed {
        color: #ffffff;
        fill: #55595c;
        font-size: 23px;
        font-family: "Quicksand", "sans-serif";
        font-weight: 600;
        line-height: 1.1;
        text-align: center;
        margin-bottom: 21px; }
      .ServiceWrap .SarviceCTM .serviceContaine .containtPrag {
        color: #ffffff;
        fill: #55595c;
        text-align: center;
        font-family: "Lato", "sans-serif";
        font-size: 14px;
        line-height: 1.42857143;
        margin-bottom: 19px;
        padding: 0 45px;
        font-weight: 400; }
      .ServiceWrap .SarviceCTM .serviceContaine .ServiceBtn {
        text-align: center;
        margin-bottom: 38px; }
        .ServiceWrap .SarviceCTM .serviceContaine .ServiceBtn .Button {
          color: #ffffff;
          border-color: #ffffff;
          border-radius: 25px;
          -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
          margin-left: auto;
          margin-right: auto;
          border: 2px solid #fff;
          display: inline-block;
          line-height: 1;
          font-size: 15px;
          padding: 12px 24px;
          text-align: center;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }
