.SoftwertryWrap {
  background-image: url(../image/bbb.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 96px 0; }
  .SoftwertryWrap .softwerTweyInner {
    text-align: center; }
    .SoftwertryWrap .softwerTweyInner .softImg {
      margin-bottom: 21px; }
      .SoftwertryWrap .softwerTweyInner .softImg .softIMH {
        width: 87px;
        height: 87px; }
    .SoftwertryWrap .softwerTweyInner .softPra {
      color: #ffffff;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.2em;
      font-family: "Quicksand", "sans-serif";
      margin-bottom: 28px; }
    .SoftwertryWrap .softwerTweyInner .SoftBtn .SoftButton {
      font-size: 17px;
      text-transform: uppercase;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      font-weight: 600;
      letter-spacing: -0.2px;
      fill: #00aeef;
      color: #00aeef;
      background-color: #ffffff;
      border-radius: 25px;
      padding: 11px 30px;
      display: inline-block; }
