
  @media screen and (max-width:1024px) {
    .FreeDemoWrap {
      .FreeDemoContaint {
        .FreeDemoClander {
          .weekdays {
            li, 
            .days {
              li {
                width: 12.6%;
              }
            }
          }
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .FreeDemoWrap {
      .FreeDemoContaint { 
        grid-template-columns: 100%;
        margin-left: 40px;
        margin-right: 40px;
        .FreeDemoItem {
          padding:30px 170px;
          .DemoTitle {
            text-align: center;
          }
          .DemoHead {
            text-align: center;
            &.FontSiz {
              padding-right: 0;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width:720px) {
    .FreeDemoWrap {
      .FreeDemoContaint {
        .FreeDemoClander{
          .weekdays {
            li, 
            .days {
              li {
                width: 13.1%;
              }
            }
          }
        }
      }
    }
  }
    
  @media (max-width: 425px) {
    .FreeDemoWrap {
      .FreeDemoContaint {
        .FreeDemoItem {
          padding: 30px 30px;
        }
      }
    }
  }
  @media screen and (max-width: 420px) {
    .FreeDemoWrap {
      .FreeDemoContaint {
        .FreeDemoClander {
          .weekdays {
            li, 
            .days {
              li {width: 12.5%;}
            }
            .days {
              li {
                .active {padding: 2px;}
              }
            }
          }
        }
      }
    }
  }
   
@media screen and (max-width: 290px) {
  .FreeDemoWrap {
    .FreeDemoContaint {
      .FreeDemoClander {
        .weekdays {
          li, 
          .days {
            li {width: 12.2%;}
          }
          
        }
      }
    }
  }
}