.coundingWrap {
    padding: 130px 0;
    background-color: #b4b4b4;
    background-image: url(../image/bg_cta_proprio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    .MainCoutInner {
        text-align: center;
        .CoundingHead {
            color: #fff;
            font-size: 44px;
            line-height: 1;
            font-family: "Quicksand", "sans-serif";
            font-weight: 600;
            padding: 0;
            margin-bottom: 20px;
            
        }
        .coundPrag {
            font-family: 'Quicksand', "sans-serif";
            color: #fff;
            font-size: 26px;
            line-height: 1;
            margin: 0;
            font-weight: 400;
        }
    }
    
}