.RatingWrap {
    padding: 63px 0px 175px 0px;
    .RatingMain {
        margin: 0 auto;
        max-width: 1000px;
        text-align: center;
        width: 100%;
        .RatingHead {
            color: #00aeef;
            font-size: 36px;
            font-weight: 600;
            line-height: 1.1em;
            margin: 0 auto 20px auto;
            max-width: 900px;
        }
    }
}